<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Never Been Used</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!-- Full Page Image Header Area -->
  <div id="top" class="header">
    <div class="vert-text">
      <h1>Start Bootstrap</h1>
      <h3><em>We</em> Build Great Templates, <em>You</em> Make Them Better</h3>
      <a href="#intro" class="btn btn-default btn-lg">Find Out More</a>
    </div>
  </div>
  <!-- /Full Page Image Header Area -->

  <!-- Call to Action -->
  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>The buttons below are impossible to resist.</h3>
          <a href="#top" class="btn btn-lg btn-default">Click Me!</a>
          <a href="#top" class="btn btn-lg btn-primary">Look at Me!</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /Call to Action -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-dribbble icon-2x"></i></li>
          </ul>
          <hr>
          <p>Copyright &copy; Company 2013</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->

<!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
<script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
</script>
<script>
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

</body>
