<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Never Been Used</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <!-- Full Page Image Header Area -->
  <div id="top" class="header">
    <div class="vert-text">
      <h1>Never Been Used</h1>
      <h3>We sell used products that were never used before.</h3>
      <a href="#call-to-action" class="btn btn-default btn-lg">Find Out More</a>
    </div>
  </div>
  <!-- /Full Page Image Header Area -->

  <!-- Call to Action -->
  <div id='call-to-action' class="call-to-action">
    {{> register}}
  </div>
  <!-- /Call to Action -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <ul class="list-inline">
            <!--
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-dribbble icon-2x"></i></li>
          -->
          </ul>
          <hr>
          <p>Copyright &copy; NeverBeenUsed 2013</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->
  {{> setup}}
</body>

<template name='setup'></template>
